*{
    margin: 0;
    padding: 0;
}
.top {
    background-color: rgb(0, 204, 136);
    border: 1px solid black;
    padding: 0 100px;

}
.info {
    display:flex;
    justify-content: space-around;
    
}
.nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 20px 0;
}
.nav a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 25px;
    color: #ffffff;
}
.nav .fon {
    background-color: white;
    color: #000;
    padding: 10px 20px;
}
.info img{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 40px;
    height: 500px;
}
.text a{
    display: flex;
    justify-content: center;
    background-color: #006443;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    border: none;
    color: white;
}
.text p{
    padding: 10px 0;
    padding-bottom:20px ;
    font-size: 20px;
}
.text h1{
    padding: 15px 0;
    font-size: 50px;
}
.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    color: white;
    display: flip;
    padding: 20px 40px;
    width: 450px;
}
.action div{
    background-color: #006443;
}
.bottom{
    margin: 100px;
}
.bottom h2{
display: flex;
justify-content: center;
color: #009664;;
font-size: 50px;
padding: 50px;
}
.action{
    display: flex;
justify-content: center;
gap: 70px;

}
.action h3{
    padding: 20px 0;
    color: white;
    font-size: 24px;
    width: 200px;
}
.action img{
    width: 300px;
    height: 250px;
}
.bottomAction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.target{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.target a{
    color: white;
    text-decoration: none;
}
.action div{
    position: relative;
}
.action .New{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    left: 25px;
    bottom: 75%;
    width: 70px;
    height: 35px;
    position: absolute;
    background-color: #00b87a;
}
.social-media{
    display: flex;
    justify-content: flex-end;
    padding: 20px 300px;
    border-radius: 15px;
    gap:20px;
}
.social-media2{
    display: flex;
    right: 250px;
    top: 10px;
    width: 200px;
    padding: 20px 5px;
    border-radius: 15px;
    gap:20px;
}
.social-media img{
    text-decoration: none;
    width: 30x;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.social-media2 img{
    text-decoration: none;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 0 220px;
}